/*
 * Layout: Header
 * -----------------------------------------------------------------------------
 * Styling for the header.
 *
 */
.footer {
  font-size: 1.2rem;
  grid-area: footer;
  padding: $SPACING_XL;
  text-align: center;
}
