/**
 * Config: Spacing
 * -----------------------------------------------------------------------------
 */

$SPACING_2XS: 0.2rem;
$SPACING_XS: 0.4rem;
$SPACING_S: 0.8rem;
$SPACING_M: 1.2rem;
$SPACING_L: 1.6rem;
$SPACING_XL: 2.4rem;
$SPACING_2XL: 3.2rem;
$SPACING_3XL: 4.8rem;

$LAYOUT_XS: 6.4rem;
$LAYOUT_S: 8rem;
$LAYOUT_M: 9.6rem;
$LAYOUT_L: 12.8rem;
